.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }

  .card .delete-button {
    float: right;
    cursor: pointer;
  }